---
import GlobalShell from '../components/layouts/GlobalShell.astro';
import AppHead from './_app-head.astro';
import { EducationCard } from '../components/ui';
import { educationEntries } from '../data/education';
---

<html lang="en">
  <head>
    <AppHead />
  </head>
  <body>
    <GlobalShell>
      <section class="mx-auto flex w-full flex-col gap-4 px-6 pt-6 md:px-8 md:pt-8">
        {educationEntries.map((entry, index) => (
          <div class="edu-card" style={`animation-delay: ${index * 90}ms;`}>
            <EducationCard
              title={entry.subheader}
              institution={entry.title}
              period={entry.date}
              location={entry.location}
              description={entry.grade}
              image={entry.image}
              modules={entry.modules}
              awards={entry.awards}
              publications={entry.publications}
              transcriptUrls={entry.transcriptUrls}
            />
          </div>
        ))}
      </section>
    </GlobalShell>
  </body>
</html>
