---
import GlobalShell from '../components/layouts/GlobalShell.astro';
import AppHead from './_app-head.astro';
import { ProjectsCard } from '../components/ui';
import { projects } from '../data/projects';
---

<html lang="en">
  <head>
    <AppHead />
  </head>
  <body>
    <GlobalShell>
      <section class="mx-auto flex w-full max-w-6xl flex-col gap-6 px-6 pt-6 md:px-8 md:pt-8">
        <div class="grid gap-4 justify-center grid-cols-[repeat(auto-fit,minmax(18rem,1fr))]">
          {projects.map((project, index) => (
            <ProjectsCard
              title={project.title}
              description={project.description}
              information={project.information}
              status={project.status}
              languages={project.languages}
              contributors={project.contributors}
              image={project.image}
              links={project.links}
              demo={project.demo}
              organisation={project.organisation}
              index={index}
            />
          ))}
        </div>
      </section>
    </GlobalShell>
  </body>
</html>

