---
import GlobalShell from '../components/layouts/GlobalShell.astro';
import AppHead from './_app-head.astro';
import { ProjectsCard } from '../components/ui';
import { projects } from '../data/projects';
---

<html lang="en">
  <head>
    <AppHead />
  </head>
  <body>
    <GlobalShell>
      <section class="mx-auto flex w-full flex-col gap-6 px-6 pt-6 md:px-8 md:pt-8">
        <div class="grid gap-4 md:grid-cols-3">
          {projects.map((project) => (
            <ProjectsCard
              title={project.title}
              description={project.description}
              languages={project.languages}
              contributors={project.contributors}
              image={project.image}
            />
          ))}
        </div>
      </section>
    </GlobalShell>
  </body>
</html>
